streamlit
python-dotenv
langchain
langchain-community
chromadb
pypdf
openai

streamlit
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-openai
chromadb
pypdf
openai

streamlit
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
sentence-transformers
chromadb
pypdf
openai

sentence-transformers
langchain-huggingface